<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.student_app.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <display-name>student_app</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>newReg</display-name>
    <servlet-name>newReg</servlet-name>
    <servlet-class>com.student_app.controller.newReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newReg</servlet-name>
    <url-pattern>/newReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showReg</display-name>
    <servlet-name>showReg</servlet-name>
    <servlet-class>com.student_app.controller.showReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showReg</servlet-name>
    <url-pattern>/showReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delReg</display-name>
    <servlet-name>delReg</servlet-name>
    <servlet-class>com.student_app.controller.delReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delReg</servlet-name>
    <url-pattern>/delReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelRegController</display-name>
    <servlet-name>DelRegController</servlet-name>
    <servlet-class>com.student_app.controller.DelRegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelRegController</servlet-name>
    <url-pattern>/DelRegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRegController</display-name>
    <servlet-name>UpdateRegController</servlet-name>
    <servlet-class>com.student_app.controller.UpdateRegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRegController</servlet-name>
    <url-pattern>/UpdateRegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.student_app.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
</web-app>